<br/>

<div class='panel panel-default'>
    <div class='panel-heading'>
        Matches
    </div>

    <div class="panel-body">

<!-- table -->
<div class ='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>
                    <!-- <button (click)="getSummoner()">Get Summoner</button> -->
                </th>
                <th>Character</th>
                <th>ID:</th>
                <th>Level:</th>
                <th>Match:</th>
                
            </tr>
                
        </thead>
        <tbody>
            
            <tr *ngIf="summoner">
                <td>
                <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/profileicon/{{ summoner.profileIconId }}.png" />
                </td>
                <td>{{ summoner.name }}&nbsp;&nbsp;</td>
                <td> {{ summoner.id }}&nbsp;&nbsp;</td>
                <td> {{ summoner.summonerLevel }}&nbsp;&nbsp;</td>
                <td> <button (click)="getMatches()" class='btn btn-default'>
                    Get Matches
                  </button>
                </td>
            </tr>
            
        </tbody>
        
    </table>
</div>

<div class="table-responsive" *ngIf="matches">
  <table class="table table-condensed">
      <thead>
          <tr>
              <th class="text-right">Timestamp</th>
              <th class="text-right">Season</th>
              <th class="text-right">Champion</th>
              <th class="text-right">Role</th>
              <th class="text-right">View</th>
          </tr>
      </thead>
      <tbody id="accordion"  *ngFor="let match of matches; let i = index;" >
          <tr
                class="text-right">
              <td colspan="1">{{ match.timestamp | date:'medium' }}</td>
              <td colspan="1">{{ match.season }}</td>
              <td colspan="1">{{ match.champion}}</td>
              <td colspan="1">{{ match.role }}</td>
              <td colspan="1"><a role="button" class="btn btn-default collapsed" 
                          id="match.matchId" 
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#detailAccordion-{{ match.matchId }}"
                          (click)="getMatch(match.matchId)"
                          aria-expanded="false">View Match</a>
              </td>
          </tr>
                        
                
            <tr>
                <td colspan="5">
                    <div id="detailAccordion-{{ match.matchId }}" class="collapse">
                        <tr *ngIf="matchDetail">
                            {{ matchDetail.timestamp | date:'medium' }}
                            <app-match-detail [matchDeet]="matchDetail"></app-match-detail>
                        </tr>
                    </div>
                </td>
            </tr>          
          
      </tbody>
  </table>
</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<br/>
<button (click)="goBack()">Back</button>

<!-- Close panel -->
    </div>
</div>
