
<div class="container" id="searchDiv">

    <div class="col-md-8 col-md-offset-2">
        
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h2>
                 <img class="img img-responsive center-block" style="max-width: 250px;" src="http://na.leagueoflegends.com/profiles/lol2_profile/themes/custom/lolt/img/lol_logo.png" />

                </h2>
            </div>
        <!-- search --> 
            <div class='panel-body'>
                    <div><h2>For whom do ye seek?</h2></div>
                    <div class="form-inline">
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="summoner.name" placeholder="Summoner Name" />                            
                        </div>
                        <a [routerLink]="['/summoner', summoner.name]" class='btn btn-warning'>Search for Summoner</a>
                    </div>

            </div>
        </div>
    </div>
</div>
        
<div class="container">
    <router-outlet></router-outlet>
</div>
  