
<div *ngIf="matchDeet">
  <div class="row">
    <div class="col-md-12">
  <h2>{{matchDeet.matchCreation | date:'medium' }} </h2>
  <ul class="list-group">
    <li class="list-group-item">{{ matchDeet.season }}</li>
    <li class="list-group-item">{{ matchDeet.matchMode }}</li>
    <li class="list-group-item">{{ matchDeet.matchDuration }}</li>
  </ul>
    </div>
  </div>

<div *ngFor="let participant of matchDeet.participants; let i = index;">
  <div class="row">
  <ul>
    <div class="col-md-6">
    <h2>Champion</h2>
    <li class="list-group-item">Champion Id: {{ participant.championId }}</li>
    <li class="list-group-item">Champion Level: {{ participant.stats.champLevel }}</li>
    <li class="list-group-item">Winner: {{ participant.stats.winner }}</li>
    </div>
    <div class="col-md-6">
    <ul class="list-inline">
      <h3>Items</h3>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item0 }}.png " alt="{{ participant.stats.item0 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item1 }}.png " alt="{{ participant.stats.item1 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item2 }}.png " alt="{{ participant.stats.item2 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item3 }}.png " alt="{{ participant.stats.item3 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item4 }}.png " alt="{{ participant.stats.item4 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item5 }}.png " alt="{{ participant.stats.item5 }}"/>
      </li>
      <li class="list-group-item">
        <img src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/item/{{ participant.stats.item6 }}.png " alt="{{ participant.stats.item6 }}"/>
      </li>
    </ul>
    </div>
  </ul>
  </div>

</div>
</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<br />
<!--<button (click)="goBack()">Back</button>-->